@import "../../components/Comment/style";

.home_content_container {
  width: 100%;
  overflow: hidden;
  height: 90vh;

  .video_container {
    background: #f9f9f9;
    overflow-y: scroll;
    height: 90vh;
    position: relative;
    padding-bottom: 4rem;
    position: relative;

    .home_video_wrap {
      max-width: 1400px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 2.5rem 1rem;
      justify-items: center;
    }

    .error_msg {
      max-width: 400px;
    }

    .spinner {
      display: block;
      margin: 2rem auto;
    }
  }

  .loadMore_videos {
    @include loadMoreStyle();
    margin-top: 2.5rem;
  }
}
