.video_wrap {
  width: 100%;
  cursor: pointer;

  .video_img_wrap {
    width: 100%;
    position: relative;

    .lazy-load-image-background {
      width: 100%;

      img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    .vid_duration {
      position: absolute;
      bottom: 5px;
      background: #000000;
      color: white;
      right: 5px;
      font-size: 0.85rem;
      padding: 0px 2px;
      border-radius: 3px;
    }
  }

  .video_details_wrap {
    display: flex;
    padding: 0 10px;
    margin-top: 0.8rem;

    img {
      width: 35px;
      height: 35px;
      border-radius: 50px;
      object-fit: cover;
      margin-right: 0.5rem;
    }

    .vid_details {
      .video_title {
        font-size: 0.85rem;
        letter-spacing: 0.3px;
        font-weight: 600;
      }

      .channel_name {
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #606060;
        margin-bottom: 0;
        margin-top: 0.5rem;
      }

      .video_info {
        font-size: 0.8rem;
        color: #606060;
      }
    }
  }
}
