@import "../../base";
@import "../Comment/style";

.searchResults_container {
  width: 100%;
  height: calc(100vh - #{$nav-height});
  overflow-y: scroll;
  background: #f9f9f9;
  padding: 2rem 10px 0px 10px;

  .loadMore_videos {
    @include loadMoreStyle();
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
}
