.app_container {
  display: flex;
}

//home
.home_content_container {
  width: 100%;
  overflow: hidden;
  height: 90vh;

  .video_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2.5rem 1rem;
    padding: 1rem;
    background: #f9f9f9;
    overflow-y: scroll;
    height: 90vh;
    position: relative;
    padding-bottom: 4rem;
    justify-items: center;

    .error_msg {
      font-size: 1rem;
      text-align: center;
      position: absolute;
      max-width: 400px;
      margin-top: 1rem;
      font-weight: 400;
    }
  }
}
